.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1732px;
  height: 4671.11px;
}
.download-1-11,
.download-1-12 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 1729.6px;
  height: 3073.73px;
  object-fit: cover;
}
.download-1-12 {
  top: 3073.73px;
  width: 1732px;
  height: 1597.38px;
}
.download-1-1-parent,
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1732px;
  height: 4671.11px;
}
.rectangle-parent10 {
  left: -4px;
}
.main-demo-1,
.pattern-2-1,
.time-loop-2-1 {
  position: absolute;
  top: calc(50% - 749px);
  left: calc(50% - 74px);
  width: 147px;
  height: 147px;
  display: none;
}
.pattern-2-1,
.time-loop-2-1 {
  top: calc(50% - 965px);
}
.time-loop-2-1 {
  top: calc(50% - 79px);
}
.life-compressed-1,
.opener-1-1 {
  position: absolute;
  top: calc(50% - 1188px);
  left: calc(50% - 135px);
  width: 271px;
  height: 153px;
  display: none;
}
.opener-1-1 {
  top: calc(50% - 1410px);
}
.displacement3-1-1,
.motion-design-child,
.wrapper {
  position: absolute;
  top: calc(50% - 1833px);
  left: calc(50% - 99px);
  width: 199px;
  height: 353px;
  display: none;
}
.motion-design-child,
.wrapper {
  top: calc(50% + 160px);
  left: calc(50% - 173px);
  background-color: var(--color-gainsboro-100);
  width: 347px;
  height: 210px;
}
.wrapper {
  top: calc(50% + 463px);
  left: calc(50% - 127px);
  width: 254px;
  height: 254px;
}
.motion-design-inner,
.motion-design-item {
  position: absolute;
  top: calc(50% - 534px);
  left: calc(50% - 74px);
  width: 147px;
  height: 148px;
  display: none;
}
.motion-design-inner {
  top: calc(50% - 295px);
  height: 147px;
}
.line-div {
  position: absolute;
  width: calc(100% - 802.98px);
  top: 324px;
  right: -196.02px;
  left: 999px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  height: 2px;
  mix-blend-mode: normal;
}
.motion-graphics4,
.motion-graphics5 {
  margin: 0;
  position: absolute;
  font-weight: 800;
  font-family: inherit;
}
.motion-graphics4 {
  top: calc(50% - 1992px);
  left: 120px;
  font-size: inherit;
  display: inline-block;
  width: 569.21px;
}
.motion-graphics5 {
  top: calc(50% - 2102px);
  left: calc(50% - 193px);
  font-size: 47.67px;
  text-align: center;
  display: none;
  width: 386px;
  height: 50.19px;
}
.time-loop-2-11 {
  position: absolute;
  top: 2209px;
  left: calc(50% - 234px);
  width: 468px;
  height: 468px;
}
.life-compressed-11,
.opener-1-11 {
  position: absolute;
  top: 834px;
  left: calc(50% + 62px);
  width: 446px;
  height: 254px;
}
.opener-1-11 {
  top: 530px;
  height: 252px;
}
.displacement3-1-11 {
  position: absolute;
  top: 555px;
  left: calc(50% - 455px);
  width: 300px;
  height: 533px;
}
.frame,
.rectangle-iframe {
  position: absolute;
  top: 2868px;
  left: calc(50% - 423px);
  background-color: var(--color-gainsboro-100);
  width: 845.83px;
  height: 514.29px;
}
.frame {
  top: 3573px;
  left: calc(50% - 248.45px);
  width: 499.31px;
  height: 499.31px;
}
.main-demo-11,
.motion-design-child1,
.pattern-2-11,
.rectangle-icon {
  position: absolute;
  top: 1234px;
  left: calc(50% + 93px);
  width: 326px;
  height: 326px;
}
.motion-design-child1,
.pattern-2-11,
.rectangle-icon {
  left: calc(50% - 419px);
}
.motion-design-child1,
.rectangle-icon {
  top: 1692px;
}
.motion-design-child1 {
  left: calc(50% + 93px);
}
.group-child10,
.resources-13 {
  position: absolute;
  top: calc(50% - 146px);
  left: 0;
  width: 1728px;
  height: 292px;
}
.group-child10 {
  background-color: var(--color-lightgray);
}
.resources-13 {
  object-fit: cover;
}
.material-symbolslocation-on-r-icon11 {
  position: absolute;
  top: calc(50% + 25.5px);
  left: calc(50% - 188.06px);
  width: 16.64px;
  height: 19.42px;
  overflow: hidden;
}
.kolkata-west-bengal11,
.let-us-connect11 {
  position: absolute;
  top: calc(50% + 25.5px);
  left: calc(50% - 171.42px);
  font-weight: 300;
  display: inline-block;
  width: 267.68px;
}
.let-us-connect11 {
  margin: 0;
  top: calc(50% - 50.5px);
  left: calc(50% - 192.73px);
  font-size: 46.88px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 385.46px;
}
.material-symbolslocation-on-r-parent3 {
  position: absolute;
  top: calc(50% - 50.5px);
  left: calc(50% - 565.5px);
  width: 385.46px;
  height: 101px;
}
.visit-me-on11 {
  position: absolute;
  top: calc(50% - 60.42px);
  left: calc(50% - 102.86px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 205.71px;
}
.behance11,
.instagram11,
.linkendin11 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 22.47px);
  left: calc(50% - 96.87px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 131.82px;
  height: 16.98px;
}
.behance11,
.instagram11 {
  top: calc(50% + 10.49px);
}
.behance11 {
  top: calc(50% + 43.44px);
}
.visit-me-on-parent6 {
  position: absolute;
  top: calc(50% - 60.42px);
  left: calc(50% - 143.04px);
  width: 205.71px;
  height: 120.83px;
  font-size: 24.11px;
  color: var(--color-darkslategray-100);
}
.contact11,
.email-address8 {
  position: absolute;
  left: calc(50% - 232.91px);
  display: inline-block;
}
.contact11 {
  top: calc(50% - 49.97px);
  font-size: 24.12px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 122.83px;
}
.email-address8 {
  top: calc(50% - 11.02px);
  font-weight: 300;
  color: var(--color-darkslategray-100);
  width: 153.07px;
  height: 20.31px;
}
.neeladri05dhargmailcom11 {
  text-decoration: none;
  top: calc(50% - 11.03px);
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.a11,
.neeladri05dhargmailcom11,
.whatsapp-number8 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a11 {
  text-decoration: none;
  top: calc(50% + 29.97px);
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.whatsapp-number8 {
  top: calc(50% + 29.59px);
  left: calc(50% - 232.91px);
  color: var(--color-darkslategray-100);
  width: 185.87px;
  height: 20.31px;
}
.contact-parent6 {
  position: absolute;
  top: calc(50% - 49.93px);
  left: calc(50% + 99.68px);
  width: 465.82px;
  height: 99.93px;
  font-size: var(--font-size-4xl-8);
}
.group-parent10,
.group-parent9 {
  position: absolute;
  top: calc(50% - 60px);
  width: 1131px;
  height: 120.83px;
}
.group-parent9 {
  left: calc(50% - 814px);
  display: none;
}
.group-parent10 {
  left: calc(50% - 565px);
}
.contact13,
.let-us-connect13 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.let-us-connect13 {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 315px;
}
.contact13 {
  font-size: 19.29px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 98.23px;
}
.email-address10 {
  top: 31.15px;
  left: 0;
  color: var(--color-darkslategray-100);
  width: 122.41px;
}
.a13,
.email-address10,
.neeladri05dhargmailcom13,
.whatsapp-number10 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
  height: 16.24px;
}
.neeladri05dhargmailcom13 {
  text-decoration: none;
  top: 31.15px;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.a13,
.whatsapp-number10 {
  top: 63.62px;
}
.a13 {
  text-decoration: none;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.whatsapp-number10 {
  left: 0;
  color: var(--color-darkslategray-100);
  width: 148.64px;
}
.contact-parent8 {
  position: absolute;
  top: 114px;
  left: 305px;
  width: 411.31px;
  height: 79.86px;
  font-size: 19.04px;
}
.visit-me-on13 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 156.34px;
}
.behance13,
.instagram13,
.linkendin13 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 122px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 100.18px;
  height: 12.9px;
}
.behance13,
.instagram13 {
  top: 22px;
}
.behance13 {
  top: 44px;
}
.group-wrapper2,
.visit-me-on-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222.18px;
  height: 56.9px;
}
.group-wrapper2 {
  top: 129px;
  font-size: 18.33px;
  color: var(--color-darkslategray-100);
}
.kolkata-west-bengal13 {
  position: absolute;
  top: 0;
  left: 16.73px;
  font-weight: 300;
  display: inline-block;
  width: 215.27px;
}
.material-symbolslocation-on-r-icon13 {
  position: absolute;
  top: 2.23px;
  left: 0;
  width: 13.38px;
  height: 15.62px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent4 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 232px;
  height: 20px;
  font-size: var(--font-size-mid);
}
.let-us-connect-parent4 {
  position: absolute;
  top: 49px;
  left: 59px;
  width: 716.31px;
  height: 193.86px;
  display: none;
  font-size: 38.31px;
}
.rectangle-parent11 {
  position: absolute;
  top: calc(50% + 1958px);
  left: 0;
  width: 1728px;
  height: 292px;
  font-size: 21.14px;
  color: var(--color-gray-300);
  font-family: var(--font-futura-lt-bt);
}
.let-us-connect14,
.visit-me-on14 {
  position: absolute;
  color: var(--color-gray-300);
  display: inline-block;
}
.let-us-connect14 {
  margin: 0;
  top: calc(50% - 106.07px);
  left: calc(50% - 125.2px);
  font-size: 32.96px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 248.48px;
  height: 39.78px;
}
.visit-me-on14 {
  top: calc(50% + 5.93px);
  left: calc(50% - 185.2px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 144.62px;
  height: 21.06px;
}
.behance14,
.linkendin14 {
  text-decoration: none;
  left: calc(50% - 202.2px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
}
.linkendin14 {
  position: absolute;
  top: calc(50% + 34.93px);
  display: inline-block;
  height: 20.94px;
}
.behance14 {
  top: calc(50% + 61.93px);
  height: 19.54px;
}
.behance14,
.contact14,
.email3,
.instagram14 {
  position: absolute;
  display: inline-block;
}
.instagram14 {
  text-decoration: none;
  top: calc(50% + 87.93px);
  left: calc(50% - 202.2px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
  height: 18.15px;
}
.contact14,
.email3 {
  left: calc(50% - 17.2px);
  height: 14.49px;
}
.contact14 {
  top: calc(50% + 50.93px);
  font-size: 11.87px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  width: 64.24px;
}
.email3 {
  top: calc(50% + 73.12px);
  font-weight: 300;
  width: 34.01px;
}
.email3,
.neeladri05dhargmailcom14,
.whatsapp3 {
  text-decoration: none;
  font-size: 11.87px;
  color: inherit;
}
.neeladri05dhargmailcom14 {
  position: absolute;
  top: calc(50% + 73.34px);
  left: calc(50% + 61.12px);
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  width: 141.08px;
  height: 13.86px;
}
.whatsapp3 {
  top: calc(50% + 92.95px);
  left: calc(50% - 17.2px);
  width: 51.65px;
  height: 12.6px;
}
.a14,
.kolkata-west-bengal14,
.whatsapp3 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a14 {
  text-decoration: none;
  top: calc(50% + 94.35px);
  left: calc(50% + 78.63px);
  font-size: 11.72px;
  font-style: italic;
  color: var(--color-gray-300);
  width: 100.14px;
  height: 11.34px;
}
.kolkata-west-bengal14 {
  top: calc(50% - 9.13px);
  left: calc(50% - 15.05px);
  width: 177.74px;
  height: 18.25px;
}
.material-symbolslocation-on-r-icon14 {
  position: absolute;
  top: calc(50% - 7.73px);
  left: calc(50% - 162.69px);
  width: 11.27px;
  height: 14.74px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent5 {
  position: absolute;
  top: calc(50% - 52.12px);
  left: calc(50% - 185.2px);
  width: 325.39px;
  height: 18.25px;
  font-size: 14.86px;
  color: var(--color-gray-300);
}
.let-us-connect-parent5 {
  position: absolute;
  top: calc(50% + 1998px);
  left: calc(50% - 211px);
  width: 404.41px;
  height: 212.15px;
  display: none;
  font-size: 16.95px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-futura-lt-bt);
}
.motion-design3 {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 4500px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-50xl);
  color: var(--color-white);
  font-family: var(--font-futura-hv-bt);
}
@media screen and (max-width: 1200px) {
  .displacement3-1-1,
  .life-compressed-1,
  .main-demo-1,
  .motion-design-child,
  .motion-design-inner,
  .motion-design-item,
  .opener-1-1,
  .pattern-2-1,
  .time-loop-2-1,
  .wrapper {
    display: none;
  }
  .line-div,
  .motion-graphics4 {
    display: flex;
  }
  .motion-graphics5 {
    display: none;
  }
  .displacement3-1-11,
  .frame,
  .group-parent9,
  .life-compressed-11,
  .main-demo-11,
  .motion-design-child1,
  .opener-1-11,
  .pattern-2-11,
  .rectangle-icon,
  .rectangle-iframe,
  .time-loop-2-11 {
    display: flex;
  }
  .group-parent10,
  .let-us-connect-parent4,
  .let-us-connect-parent5 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .displacement3-1-1,
  .life-compressed-1,
  .main-demo-1,
  .motion-design-child,
  .motion-design-inner,
  .motion-design-item,
  .opener-1-1,
  .pattern-2-1,
  .time-loop-2-1,
  .wrapper {
    display: flex;
  }
  .line-div,
  .motion-graphics4 {
    display: none;
  }
  .motion-graphics5 {
    display: flex;
  }
  .displacement3-1-11,
  .frame,
  .group-parent10,
  .group-parent9,
  .life-compressed-11,
  .main-demo-11,
  .motion-design-child1,
  .opener-1-11,
  .pattern-2-11,
  .rectangle-icon,
  .rectangle-iframe,
  .time-loop-2-11 {
    display: none;
  }
  .let-us-connect-parent4 {
    display: flex;
  }
  .let-us-connect-parent5 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .displacement3-1-1,
  .life-compressed-1,
  .main-demo-1,
  .motion-design-child,
  .motion-design-inner,
  .motion-design-item,
  .opener-1-1,
  .pattern-2-1,
  .time-loop-2-1,
  .wrapper {
    display: flex;
  }
  .line-div,
  .motion-graphics4 {
    display: none;
  }
  .motion-graphics5 {
    display: flex;
  }
  .displacement3-1-11,
  .frame,
  .group-parent10,
  .group-parent9,
  .let-us-connect-parent4,
  .life-compressed-11,
  .main-demo-11,
  .motion-design-child1,
  .opener-1-11,
  .pattern-2-11,
  .rectangle-icon,
  .rectangle-iframe,
  .time-loop-2-11 {
    display: none;
  }
  .let-us-connect-parent5 {
    display: flex;
  }
}
