.photography-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1728px;
  height: 5466px;
}
.download-1-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1731px;
  height: 3078px;
  object-fit: cover;
}
.photgraphy,
.photography3,
.photography4 {
  margin: 0;
  position: absolute;
  font-weight: 800;
  font-family: inherit;
}
.photgraphy {
  top: 264px;
  left: 127px;
  font-size: inherit;
  display: inline-block;
  width: 410px;
}
.photography3,
.photography4 {
  text-align: center;
  display: none;
}
.photography3 {
  top: 258px;
  left: calc(50% - 221px);
  font-size: var(--font-size-50xl);
  width: 443px;
}
.photography4 {
  top: 278px;
  left: calc(50% - 136px);
  font-size: 42.41px;
  width: 272px;
}
.download-1-15 {
  position: absolute;
  top: 3051px;
  left: 0;
  width: 1731px;
  height: 2565px;
  object-fit: cover;
}
.photography-item {
  position: absolute;
  top: 568px;
  left: 27.37px;
  border-radius: 35.15px;
  background-color: var(--color-white);
  width: 1673.27px;
  height: 4796px;
  display: none;
}
.material-symbolslocation-on-r-icon19 {
  position: absolute;
  top: 5512.78px;
  left: 240px;
  width: 16.67px;
  height: 19.44px;
  overflow: hidden;
}
.group-68-1 {
  position: absolute;
  top: 765px;
  left: calc(50% - 527px);
  width: 1054.92px;
  height: 3062.57px;
  object-fit: cover;
}
.group-child12,
.resources-15 {
  position: absolute;
  top: calc(50% - 146px);
  left: 0;
  width: 1728px;
  height: 292px;
}
.group-child12 {
  background-color: var(--color-lightgray);
}
.resources-15 {
  object-fit: cover;
}
.material-symbolslocation-on-r-icon20 {
  position: absolute;
  top: 76px;
  left: calc(50% - 188.06px);
  width: 16.64px;
  height: 19.42px;
  overflow: hidden;
}
.kolkata-west-bengal19,
.let-us-connect19 {
  position: absolute;
  top: 76px;
  left: calc(50% - 171.42px);
  font-weight: 300;
  display: inline-block;
  width: 267.68px;
}
.let-us-connect19 {
  margin: 0;
  top: 0;
  left: calc(50% - 192.73px);
  font-size: 46.88px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 385.46px;
}
.material-symbolslocation-on-r-parent7 {
  position: absolute;
  top: 9.92px;
  left: calc(50% - 565.5px);
  width: 385.46px;
  height: 101px;
}
.visit-me-on19 {
  position: absolute;
  top: 0;
  left: calc(50% - 102.86px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 205.71px;
}
.behance19,
.instagram19,
.linkendin19 {
  text-decoration: none;
  position: absolute;
  top: 37.95px;
  left: calc(50% - 96.87px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 131.82px;
  height: 16.98px;
}
.behance19,
.instagram19 {
  top: 70.9px;
}
.behance19 {
  top: 103.86px;
}
.visit-me-on-parent12 {
  position: absolute;
  top: 0;
  left: calc(50% - 143.04px);
  width: 205.71px;
  height: 120.83px;
  font-size: 24.11px;
  color: var(--color-darkslategray-100);
}
.contact19,
.email-address14 {
  position: absolute;
  left: calc(50% - 232.91px);
  display: inline-block;
}
.contact19 {
  top: 0;
  font-size: 24.12px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 122.83px;
}
.email-address14 {
  top: 38.95px;
  font-weight: 300;
  color: var(--color-darkslategray-100);
  width: 153.07px;
  height: 20.31px;
}
.neeladri05dhargmailcom19 {
  text-decoration: none;
  top: 38.93px;
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.a19,
.neeladri05dhargmailcom19,
.whatsapp-number14 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a19 {
  text-decoration: none;
  top: 79.93px;
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.whatsapp-number14 {
  top: 79.56px;
  left: calc(50% - 232.91px);
  color: var(--color-darkslategray-100);
  width: 185.87px;
  height: 20.31px;
}
.contact-parent12 {
  position: absolute;
  top: 10.49px;
  left: calc(50% + 99.68px);
  width: 465.82px;
  height: 99.93px;
  font-size: var(--font-size-4xl-8);
}
.group-parent13,
.group-parent14 {
  position: absolute;
  top: 85.58px;
  width: 1131px;
  height: 120.83px;
}
.group-parent13 {
  left: calc(50% - 814px);
  display: none;
}
.group-parent14 {
  left: calc(50% - 565px);
}
.contact21,
.let-us-connect21 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.let-us-connect21 {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 315px;
}
.contact21 {
  font-size: 19.29px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 98.23px;
}
.email-address16 {
  top: 31.15px;
  left: 0;
  color: var(--color-darkslategray-100);
  width: 122.41px;
}
.a21,
.email-address16,
.neeladri05dhargmailcom21,
.whatsapp-number16 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
  height: 16.24px;
}
.neeladri05dhargmailcom21 {
  text-decoration: none;
  top: 31.15px;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.a21,
.whatsapp-number16 {
  top: 63.62px;
}
.a21 {
  text-decoration: none;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.whatsapp-number16 {
  left: 0;
  color: var(--color-darkslategray-100);
  width: 148.64px;
}
.contact-parent14 {
  position: absolute;
  top: 114px;
  left: 305px;
  width: 411.31px;
  height: 79.86px;
  font-size: 19.04px;
}
.visit-me-on21 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 156.34px;
}
.behance21,
.instagram21,
.linkendin21 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 122px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 100.18px;
  height: 12.9px;
}
.behance21,
.instagram21 {
  top: 22px;
}
.behance21 {
  top: 44px;
}
.group-wrapper4,
.visit-me-on-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222.18px;
  height: 56.9px;
}
.group-wrapper4 {
  top: 129px;
  font-size: 18.33px;
  color: var(--color-darkslategray-100);
}
.kolkata-west-bengal21 {
  position: absolute;
  top: 0;
  left: 16.73px;
  font-weight: 300;
  display: inline-block;
  width: 215.27px;
}
.material-symbolslocation-on-r-icon22 {
  position: absolute;
  top: 2.23px;
  left: 0;
  width: 13.38px;
  height: 15.62px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent8 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 232px;
  height: 20px;
  font-size: var(--font-size-mid);
}
.let-us-connect-parent8 {
  position: absolute;
  top: 49px;
  left: 59px;
  width: 716.31px;
  height: 193.86px;
  display: none;
  font-size: 38.31px;
}
.rectangle-parent13 {
  position: absolute;
  top: calc(50% + 2149.5px);
  left: 0;
  width: 1728px;
  height: 292px;
  font-size: 21.14px;
  color: var(--color-gray-300);
  font-family: var(--font-futura-lt-bt);
}
.let-us-connect22,
.visit-me-on22 {
  position: absolute;
  color: var(--color-gray-300);
  display: inline-block;
}
.let-us-connect22 {
  margin: 0;
  top: calc(50% - 106.07px);
  left: calc(50% - 133.7px);
  font-size: 32.96px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 248.48px;
  height: 39.78px;
}
.visit-me-on22 {
  top: calc(50% + 5.93px);
  left: calc(50% - 149.7px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 144.62px;
  height: 21.06px;
}
.behance22,
.linkendin22 {
  text-decoration: none;
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
}
.linkendin22 {
  position: absolute;
  top: calc(50% + 34.93px);
  display: inline-block;
  height: 20.94px;
}
.behance22 {
  top: calc(50% + 61.93px);
  height: 19.54px;
}
.behance22,
.contact22,
.email5,
.instagram22 {
  position: absolute;
  display: inline-block;
}
.instagram22 {
  text-decoration: none;
  top: calc(50% + 87.93px);
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
  height: 18.15px;
}
.contact22,
.email5 {
  left: calc(50% - 25.7px);
  height: 14.49px;
}
.contact22 {
  top: calc(50% + 50.93px);
  font-size: 11.87px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  width: 64.24px;
}
.email5 {
  top: calc(50% + 73.12px);
  font-weight: 300;
  width: 34.01px;
}
.email5,
.neeladri05dhargmailcom22,
.whatsapp5 {
  text-decoration: none;
  font-size: 11.87px;
  color: inherit;
}
.neeladri05dhargmailcom22 {
  position: absolute;
  top: calc(50% + 73.34px);
  left: calc(50% + 8.62px);
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  width: 141.08px;
  height: 13.86px;
}
.whatsapp5 {
  top: calc(50% + 92.95px);
  left: calc(50% - 25.7px);
  width: 51.65px;
  height: 12.6px;
}
.a22,
.kolkata-west-bengal22,
.whatsapp5 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a22 {
  text-decoration: none;
  top: calc(50% + 94.35px);
  left: calc(50% + 26.13px);
  font-size: 11.72px;
  font-style: italic;
  color: var(--color-gray-300);
  width: 100.14px;
  height: 11.34px;
}
.kolkata-west-bengal22 {
  top: calc(50% - 9.13px);
  left: calc(50% - 59.05px);
  width: 177.74px;
  height: 18.25px;
}
.material-symbolslocation-on-r-icon23 {
  position: absolute;
  top: calc(50% - 7.73px);
  left: calc(50% - 118.69px);
  width: 11.27px;
  height: 14.74px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent9 {
  position: absolute;
  top: calc(50% - 52.12px);
  left: calc(50% - 127.7px);
  width: 237.39px;
  height: 18.25px;
  font-size: 14.86px;
  color: var(--color-gray-300);
}
.let-us-connect-parent9 {
  position: absolute;
  top: calc(50% + 2189.5px);
  left: calc(50% - 150px);
  width: 299.41px;
  height: 212.15px;
  display: none;
  font-size: 16.95px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-futura-lt-bt);
}
.photography-inner {
  position: absolute;
  width: calc(100% - 258px);
  top: 324px;
  right: -278px;
  left: 536px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  height: 2px;
  mix-blend-mode: normal;
}
.group-119-1 {
  position: absolute;
  top: 765px;
  left: calc(50% - 222px);
  width: 444px;
  height: 3549px;
  object-fit: cover;
  display: none;
}
.photography2 {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 4883px;
  overflow: hidden;
  text-align: left;
  font-size: 63.47px;
  color: var(--color-white);
  font-family: var(--font-futura-hv-bt);
}
@media screen and (max-width: 1200px) {
  .photgraphy {
    display: flex;
  }
  .photography3,
  .photography4 {
    display: none;
  }
  .group-68-1,
  .group-parent13 {
    display: flex;
  }
  .group-parent14,
  .let-us-connect-parent8,
  .let-us-connect-parent9 {
    display: none;
  }
  .photography-inner {
    display: flex;
  }
  .group-119-1 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .photgraphy {
    display: none;
  }
  .photography3 {
    display: flex;
  }
  .group-68-1,
  .group-parent13,
  .group-parent14,
  .photography4 {
    display: none;
  }
  .let-us-connect-parent8 {
    display: flex;
  }
  .let-us-connect-parent9,
  .photography-inner {
    display: none;
  }
  .group-119-1 {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .photgraphy,
  .photography3 {
    display: none;
  }
  .photography4 {
    display: flex;
  }
  .group-68-1,
  .group-parent13,
  .group-parent14,
  .let-us-connect-parent8 {
    display: none;
  }
  .let-us-connect-parent9 {
    display: flex;
  }
  .photography-inner {
    display: none;
  }
  .group-119-1 {
    display: flex;
  }
}
