.f7b46-4d3e-4ab1-9592-e85182e68-icon1,
.recrave-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 600px;
}
.recrave-child {
  background-color: var(--color-gray-200);
}
.f7b46-4d3e-4ab1-9592-e85182e68-icon1 {
  object-fit: cover;
}
.food-delivery-app,
.recrave1 {
  position: absolute;
  left: 165px;
  display: inline-block;
}
.recrave1 {
  margin: 0;
  top: 264px;
  font-size: inherit;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 557px;
}
.food-delivery-app {
  top: 366px;
  font-size: var(--font-size-19xl-1);
  font-family: var(--font-futura-bk-bt);
  width: 725px;
  height: 44px;
}
.recrave-item {
  position: absolute;
  top: 597px;
  left: 0;
  background: linear-gradient(
    180deg,
    #000,
    rgba(25, 25, 25, 0.83) 31.56%,
    #984b09
  );
  width: 1728px;
  height: 3332px;
}
.recrave-app-case-study-1 {
  position: absolute;
  top: calc(50% - 1340.5px);
  left: calc(50% - 481px);
  width: 962.33px;
  height: 2914.88px;
  object-fit: cover;
}
.group-child7,
.resources-11 {
  position: absolute;
  top: calc(50% - 146px);
  left: 0;
  width: 1728px;
  height: 292px;
}
.group-child7 {
  background-color: var(--color-lightgray);
}
.resources-11 {
  object-fit: cover;
}
.contact3,
.let-us-connect3 {
  position: absolute;
  top: 0;
  display: inline-block;
}
.let-us-connect3 {
  margin: 0;
  left: 1px;
  font-size: inherit;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 315px;
}
.contact3 {
  left: 0;
  font-size: 19.29px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 98.23px;
}
.email-address2 {
  top: 31.15px;
  left: 0;
  color: var(--color-darkslategray-100);
  width: 122.41px;
}
.a3,
.email-address2,
.neeladri05dhargmailcom3,
.whatsapp-number2 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
  height: 16.24px;
}
.neeladri05dhargmailcom3 {
  text-decoration: none;
  top: 31.15px;
  left: 148.54px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.a3,
.whatsapp-number2 {
  top: 63.62px;
}
.a3 {
  text-decoration: none;
  left: 148.54px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.whatsapp-number2 {
  left: 0;
  color: var(--color-darkslategray-100);
  width: 148.64px;
}
.contact-group {
  position: absolute;
  top: 82px;
  left: 398px;
  width: 410.86px;
  height: 79.86px;
  font-size: 19.04px;
}
.visit-me-on3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 156.34px;
}
.behance3,
.instagram3,
.linkendin3 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 122px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 100.18px;
  height: 12.9px;
}
.behance3,
.instagram3 {
  left: 205px;
}
.behance3 {
  left: 289px;
}
.group-frame,
.visit-me-on-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 389.18px;
  height: 22px;
}
.group-frame {
  top: 144px;
  font-size: 18.33px;
  color: var(--color-darkslategray-100);
}
.kolkata-west-bengal3 {
  position: absolute;
  top: 0;
  left: 16.73px;
  font-weight: 300;
  display: inline-block;
  width: 215.27px;
}
.material-symbolslocation-on-r-icon3 {
  position: absolute;
  top: 2.23px;
  left: 0;
  width: 13.38px;
  height: 15.62px;
  overflow: hidden;
}
.kolkata-west-bengal-india-container {
  position: absolute;
  top: 76px;
  left: 1px;
  width: 232px;
  height: 20px;
  font-size: var(--font-size-mid);
}
.let-us-connect-parent1 {
  position: absolute;
  top: 66px;
  left: 58px;
  width: 808.86px;
  height: 166px;
  display: none;
}
.let-us-connect4 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 46.88px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  display: inline-block;
  width: 385.46px;
}
.kolkata-west-bengal4 {
  position: absolute;
  top: 125.83px;
  left: 20.8px;
  font-size: 21.14px;
  font-weight: 300;
  display: inline-block;
  width: 267.68px;
}
.contact4,
.visit-me-on4 {
  position: absolute;
  top: 56px;
  left: 397px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  display: inline-block;
  width: 205.71px;
}
.contact4 {
  left: 593px;
  font-size: 24.12px;
  width: 122.83px;
}
.email-address3,
.linkendin4,
.neeladri05dhargmailcom4 {
  position: absolute;
  display: inline-block;
  font-weight: 300;
}
.linkendin4 {
  text-decoration: none;
  top: 93.95px;
  left: 402.99px;
  color: var(--color-darkslategray-100);
  width: 131.82px;
  height: 16.98px;
}
.email-address3,
.neeladri05dhargmailcom4 {
  top: 94.95px;
  font-size: var(--font-size-4xl-8);
  height: 20.31px;
}
.email-address3 {
  left: 593px;
  color: var(--color-darkslategray-100);
  width: 153.07px;
}
.neeladri05dhargmailcom4 {
  text-decoration: none;
  left: 778.74px;
  font-style: italic;
  color: inherit;
  width: 328.01px;
}
.a4,
.instagram4 {
  text-decoration: none;
}
.a4 {
  position: absolute;
  top: 135.56px;
  left: 778.74px;
  font-size: var(--font-size-4xl-8);
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  color: inherit;
  width: 328.01px;
  height: 20.31px;
}
.instagram4 {
  top: 126.9px;
  left: 402.99px;
  width: 131.82px;
  height: 16.98px;
}
.behance4,
.instagram4,
.whatsapp-number3 {
  position: absolute;
  font-weight: 300;
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.whatsapp-number3 {
  top: 135.56px;
  left: 593px;
  font-size: var(--font-size-4xl-8);
  width: 185.87px;
  height: 20.31px;
}
.behance4 {
  text-decoration: none;
  top: 159.86px;
  left: 402.99px;
  width: 131.82px;
  height: 16.98px;
}
.material-symbolslocation-on-r-icon4 {
  position: absolute;
  top: 128.6px;
  left: 0;
  width: 16.64px;
  height: 19.42px;
  overflow: hidden;
}
.let-us-connect-parent2 {
  position: absolute;
  top: 71px;
  left: 49px;
  width: 1106.75px;
  height: 176.83px;
  font-size: 24.11px;
}
.rectangle-parent8 {
  position: absolute;
  top: calc(50% + 1818.5px);
  left: 0;
  width: 1728px;
  height: 292px;
  font-size: 38.31px;
  color: var(--color-gray-300);
}
.let-us-connect5,
.visit-me-on5 {
  position: absolute;
  color: var(--color-gray-300);
  display: inline-block;
}
.let-us-connect5 {
  margin: 0;
  top: calc(50% - 106.07px);
  left: calc(50% - 133.7px);
  font-size: 32.96px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 248.48px;
  height: 39.78px;
}
.visit-me-on5 {
  top: calc(50% + 5.93px);
  left: calc(50% - 149.7px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 144.62px;
  height: 21.06px;
}
.behance5,
.linkendin5 {
  text-decoration: none;
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
}
.linkendin5 {
  position: absolute;
  top: calc(50% + 34.93px);
  display: inline-block;
  height: 20.94px;
}
.behance5 {
  top: calc(50% + 61.93px);
  height: 19.54px;
}
.behance5,
.contact5,
.email1,
.instagram5 {
  position: absolute;
  display: inline-block;
}
.instagram5 {
  text-decoration: none;
  top: calc(50% + 87.93px);
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
  height: 18.15px;
}
.contact5,
.email1 {
  left: calc(50% - 25.7px);
  height: 14.49px;
}
.contact5 {
  top: calc(50% + 50.93px);
  font-size: 11.87px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  width: 64.24px;
}
.email1 {
  top: calc(50% + 73.12px);
  font-weight: 300;
  width: 34.01px;
}
.email1,
.neeladri05dhargmailcom5,
.whatsapp1 {
  text-decoration: none;
  font-size: 11.87px;
  color: inherit;
}
.neeladri05dhargmailcom5 {
  position: absolute;
  top: calc(50% + 73.34px);
  left: calc(50% + 8.62px);
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  width: 141.08px;
  height: 13.86px;
}
.whatsapp1 {
  top: calc(50% + 92.95px);
  left: calc(50% - 25.7px);
  width: 51.65px;
  height: 12.6px;
}
.a5,
.kolkata-west-bengal5,
.whatsapp1 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a5 {
  text-decoration: none;
  top: calc(50% + 94.35px);
  left: calc(50% + 26.13px);
  font-size: 11.72px;
  font-style: italic;
  color: var(--color-gray-300);
  width: 100.14px;
  height: 11.34px;
}
.kolkata-west-bengal5 {
  top: calc(50% - 9.13px);
  left: calc(50% - 59.05px);
  width: 177.74px;
  height: 18.25px;
}
.material-symbolslocation-on-r-icon5 {
  position: absolute;
  top: calc(50% - 7.73px);
  left: calc(50% - 118.69px);
  width: 11.27px;
  height: 14.74px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent1 {
  position: absolute;
  top: calc(50% - 52.12px);
  left: calc(50% - 127.7px);
  width: 237.39px;
  height: 18.25px;
  font-size: 14.86px;
  color: var(--color-gray-300);
}
.let-us-connect-parent3 {
  position: absolute;
  top: calc(50% + 1858.5px);
  left: calc(50% - 150px);
  width: 299.41px;
  height: 212.15px;
  display: none;
  font-size: 16.95px;
  color: var(--color-darkslategray-100);
}
.recrave {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 4221px;
  overflow: hidden;
  text-align: left;
  font-size: 63.47px;
  color: var(--color-white);
  font-family: var(--font-futura-lt-bt);
}
@media screen and (max-width: 1200px) {
  .recrave-app-case-study-1 {
    display: flex;
  }
  .let-us-connect-parent1 {
    display: none;
  }
  .let-us-connect-parent2 {
    display: flex;
  }
  .let-us-connect-parent3 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .let-us-connect-parent1,
  .recrave-app-case-study-1 {
    display: flex;
  }
  .let-us-connect-parent2,
  .let-us-connect-parent3 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .recrave-app-case-study-1 {
    display: flex;
  }
  .let-us-connect-parent1,
  .let-us-connect-parent2 {
    display: none;
  }
  .let-us-connect-parent3 {
    display: flex;
  }
}
