.download-1-13,
.visual-design-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 2608px;
}
.visual-design-child {
  background-color: var(--color-gray-200);
  width: 1728px;
}
.download-1-13 {
  width: 1731px;
  object-fit: cover;
}
.visual-design-item {
  position: absolute;
  width: calc(100% - 403px);
  top: 324px;
  right: -278px;
  left: 681px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  height: 2px;
  mix-blend-mode: normal;
}
.visual-design-inner {
  position: absolute;
  top: 568px;
  left: 27.37px;
  border-radius: 35.15px;
  background-color: var(--color-white);
  width: 1673.27px;
  height: 4796px;
  display: none;
}
.lotus-2-1 {
  position: absolute;
  top: calc(50% + 84.54px);
  left: calc(50% - 480.91px);
  width: 398.64px;
  height: 564.03px;
  object-fit: cover;
}
.dream-poster-1,
.fight-club-vintage-poster-1,
.iron-man-1 {
  position: absolute;
  top: calc(50% - 648.57px);
  left: calc(50% - 10.18px);
  width: 491.09px;
  height: 597.11px;
  object-fit: cover;
}
.dream-poster-1,
.fight-club-vintage-poster-1 {
  left: calc(50% - 480.91px);
  width: 398.64px;
}
.dream-poster-1 {
  top: calc(50% + 120.16px);
  left: calc(50% - 10.18px);
  width: 491.09px;
  height: 491.09px;
}
.lotus-2-1-parent,
.lotus-2-11 {
  position: absolute;
  top: calc(50% - 642px);
  left: calc(50% - 480.91px);
  width: 961.83px;
  height: 1297.15px;
}
.lotus-2-11 {
  top: calc(50% - 484.21px);
  left: calc(50% - 174.15px);
  width: 349.05px;
  height: 493.87px;
  object-fit: cover;
}
.fight-club-vintage-poster-11,
.iron-man-11 {
  position: absolute;
  top: calc(50% + 528.77px);
  left: calc(50% - 215px);
  width: 430px;
  height: 522.83px;
  object-fit: cover;
}
.fight-club-vintage-poster-11 {
  top: calc(50% - 1051.61px);
  left: calc(50% - 174.15px);
  width: 349.05px;
}
.dream-poster-11,
.lotus-2-1-group {
  position: absolute;
  left: calc(50% - 215px);
  width: 430px;
}
.dream-poster-11 {
  top: calc(50% + 54.21px);
  height: 430px;
  object-fit: cover;
}
.lotus-2-1-group {
  top: calc(50% - 1045px);
  height: 2103.21px;
  display: none;
}
.visual-graphics2,
.visual-graphics3,
.visual-graphics4 {
  margin: 0;
  position: absolute;
  top: 258px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.visual-graphics2 {
  left: 130px;
  display: inline-block;
  width: 526px;
}
.visual-graphics3,
.visual-graphics4 {
  left: calc(50% - 266px);
  text-align: center;
  display: none;
  width: 532px;
}
.visual-graphics4 {
  top: 278px;
  left: calc(50% - 159px);
  font-size: 42.41px;
  width: 318px;
}
.group-child11,
.resources-14 {
  position: absolute;
  top: calc(50% - 146px);
  left: 0;
  width: 1728px;
  height: 292px;
}
.group-child11 {
  background-color: var(--color-lightgray);
}
.resources-14 {
  object-fit: cover;
}
.material-symbolslocation-on-r-icon15 {
  position: absolute;
  top: 76px;
  left: calc(50% - 188.06px);
  width: 16.64px;
  height: 19.42px;
  overflow: hidden;
}
.kolkata-west-bengal15,
.let-us-connect15 {
  position: absolute;
  top: 76px;
  left: calc(50% - 171.42px);
  font-weight: 300;
  display: inline-block;
  width: 267.68px;
}
.let-us-connect15 {
  margin: 0;
  top: 0;
  left: calc(50% - 192.73px);
  font-size: 46.88px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 385.46px;
}
.material-symbolslocation-on-r-parent5 {
  position: absolute;
  top: 9.92px;
  left: calc(50% - 565.5px);
  width: 385.46px;
  height: 101px;
}
.visit-me-on15 {
  position: absolute;
  top: 0;
  left: calc(50% - 102.86px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 205.71px;
}
.behance15,
.instagram15,
.linkendin15 {
  text-decoration: none;
  position: absolute;
  top: 37.95px;
  left: calc(50% - 96.87px);
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 131.82px;
  height: 16.98px;
}
.behance15,
.instagram15 {
  top: 70.9px;
}
.behance15 {
  top: 103.86px;
}
.visit-me-on-parent9 {
  position: absolute;
  top: 0;
  left: calc(50% - 143.04px);
  width: 205.71px;
  height: 120.83px;
  font-size: 24.11px;
  color: var(--color-darkslategray-100);
}
.contact15,
.email-address11 {
  position: absolute;
  left: calc(50% - 232.91px);
  display: inline-block;
}
.contact15 {
  top: 0;
  font-size: 24.12px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 122.83px;
}
.email-address11 {
  top: 38.95px;
  font-weight: 300;
  color: var(--color-darkslategray-100);
  width: 153.07px;
  height: 20.31px;
}
.neeladri05dhargmailcom15 {
  text-decoration: none;
  top: 38.93px;
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.a15,
.neeladri05dhargmailcom15,
.whatsapp-number11 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a15 {
  text-decoration: none;
  top: 79.93px;
  left: calc(50% - 47.09px);
  font-style: italic;
  color: inherit;
  width: 280px;
  height: 20px;
}
.whatsapp-number11 {
  top: 79.56px;
  left: calc(50% - 232.91px);
  color: var(--color-darkslategray-100);
  width: 185.87px;
  height: 20.31px;
}
.contact-parent9 {
  position: absolute;
  top: 10.49px;
  left: calc(50% + 99.68px);
  width: 465.82px;
  height: 99.93px;
  font-size: var(--font-size-4xl-8);
}
.group-parent11,
.group-parent12 {
  position: absolute;
  top: 85.58px;
  width: 1131px;
  height: 120.83px;
}
.group-parent11 {
  left: calc(50% - 824px);
  display: none;
}
.group-parent12 {
  left: calc(50% - 565px);
}
.contact17,
.let-us-connect17 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.let-us-connect17 {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 315px;
}
.contact17 {
  font-size: 19.29px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 98.23px;
}
.email-address13 {
  top: 31.15px;
  left: 0;
  color: var(--color-darkslategray-100);
  width: 122.41px;
}
.a17,
.email-address13,
.neeladri05dhargmailcom17,
.whatsapp-number13 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
  height: 16.24px;
}
.neeladri05dhargmailcom17 {
  text-decoration: none;
  top: 31.15px;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.a17,
.whatsapp-number13 {
  top: 63.62px;
}
.a17 {
  text-decoration: none;
  left: 149px;
  font-style: italic;
  color: inherit;
  width: 262.31px;
}
.whatsapp-number13 {
  left: 0;
  color: var(--color-darkslategray-100);
  width: 148.64px;
}
.contact-parent11 {
  position: absolute;
  top: 114px;
  left: 305px;
  width: 411.31px;
  height: 79.86px;
  font-size: 19.04px;
}
.visit-me-on17 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  display: inline-block;
  width: 156.34px;
}
.behance17,
.instagram17,
.linkendin17 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 122px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 100.18px;
  height: 12.9px;
}
.behance17,
.instagram17 {
  top: 22px;
}
.behance17 {
  top: 44px;
}
.group-wrapper3,
.visit-me-on-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222.18px;
  height: 56.9px;
}
.group-wrapper3 {
  top: 129px;
  font-size: 18.33px;
  color: var(--color-darkslategray-100);
}
.kolkata-west-bengal17 {
  position: absolute;
  top: 0;
  left: 16.73px;
  font-weight: 300;
  display: inline-block;
  width: 215.27px;
}
.material-symbolslocation-on-r-icon17 {
  position: absolute;
  top: 2.23px;
  left: 0;
  width: 13.38px;
  height: 15.62px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent6 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 232px;
  height: 20px;
  font-size: var(--font-size-mid);
}
.let-us-connect-parent6 {
  position: absolute;
  top: 49px;
  left: 59px;
  width: 716.31px;
  height: 193.86px;
  display: none;
  font-size: 38.31px;
}
.rectangle-parent12 {
  position: absolute;
  top: calc(50% + 1158px);
  left: 0;
  width: 1728px;
  height: 292px;
  font-size: 21.14px;
  color: var(--color-gray-300);
  font-family: var(--font-futura-lt-bt);
}
.let-us-connect18,
.visit-me-on18 {
  position: absolute;
  color: var(--color-gray-300);
  display: inline-block;
}
.let-us-connect18 {
  margin: 0;
  top: calc(50% - 106.07px);
  left: calc(50% - 133.7px);
  font-size: 32.96px;
  font-weight: 800;
  font-family: var(--font-futura-hv-bt);
  width: 248.48px;
  height: 39.78px;
}
.visit-me-on18 {
  top: calc(50% + 5.93px);
  left: calc(50% - 149.7px);
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  width: 144.62px;
  height: 21.06px;
}
.behance18,
.linkendin18 {
  text-decoration: none;
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
}
.linkendin18 {
  position: absolute;
  top: calc(50% + 34.93px);
  display: inline-block;
  height: 20.94px;
}
.behance18 {
  top: calc(50% + 61.93px);
  height: 19.54px;
}
.behance18,
.contact18,
.email4,
.instagram18 {
  position: absolute;
  display: inline-block;
}
.instagram18 {
  text-decoration: none;
  top: calc(50% + 87.93px);
  left: calc(50% - 144.7px);
  font-weight: 300;
  color: inherit;
  width: 92.83px;
  height: 18.15px;
}
.contact18,
.email4 {
  left: calc(50% - 25.7px);
  height: 14.49px;
}
.contact18 {
  top: calc(50% + 50.93px);
  font-size: 11.87px;
  font-weight: 500;
  font-family: var(--font-futura-md-bt);
  color: var(--color-gray-300);
  width: 64.24px;
}
.email4 {
  top: calc(50% + 73.12px);
  font-weight: 300;
  width: 34.01px;
}
.email4,
.neeladri05dhargmailcom18,
.whatsapp4 {
  text-decoration: none;
  font-size: 11.87px;
  color: inherit;
}
.neeladri05dhargmailcom18 {
  position: absolute;
  top: calc(50% + 73.34px);
  left: calc(50% + 8.62px);
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  width: 141.08px;
  height: 13.86px;
}
.whatsapp4 {
  top: calc(50% + 92.95px);
  left: calc(50% - 25.7px);
  width: 51.65px;
  height: 12.6px;
}
.a18,
.kolkata-west-bengal18,
.whatsapp4 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.a18 {
  text-decoration: none;
  top: calc(50% + 94.35px);
  left: calc(50% + 26.13px);
  font-size: 11.72px;
  font-style: italic;
  color: var(--color-gray-300);
  width: 100.14px;
  height: 11.34px;
}
.kolkata-west-bengal18 {
  top: calc(50% - 9.13px);
  left: calc(50% - 59.05px);
  width: 177.74px;
  height: 18.25px;
}
.material-symbolslocation-on-r-icon18 {
  position: absolute;
  top: calc(50% - 7.73px);
  left: calc(50% - 118.69px);
  width: 11.27px;
  height: 14.74px;
  overflow: hidden;
}
.kolkata-west-bengal-india-parent7 {
  position: absolute;
  top: calc(50% - 52.12px);
  left: calc(50% - 127.7px);
  width: 237.39px;
  height: 18.25px;
  font-size: 14.86px;
  color: var(--color-gray-300);
}
.let-us-connect-parent7 {
  position: absolute;
  top: calc(50% + 1198px);
  left: calc(50% - 150px);
  width: 299.41px;
  height: 212.15px;
  display: none;
  font-size: 16.95px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-futura-lt-bt);
}
.visual-design {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 2900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-50xl);
  color: var(--color-white);
  font-family: var(--font-futura-hv-bt);
}
@media screen and (max-width: 1200px) {
  .lotus-2-1-parent,
  .visual-design-item {
    display: flex;
  }
  .lotus-2-1-group {
    display: none;
  }
  .visual-graphics2 {
    display: flex;
  }
  .visual-graphics3,
  .visual-graphics4 {
    display: none;
  }
  .group-parent11 {
    display: flex;
  }
  .group-parent12,
  .let-us-connect-parent6,
  .let-us-connect-parent7 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .lotus-2-1-parent,
  .visual-design-item {
    display: none;
  }
  .lotus-2-1-group {
    display: flex;
  }
  .visual-graphics2 {
    display: none;
  }
  .visual-graphics3 {
    display: flex;
  }
  .group-parent11,
  .group-parent12,
  .visual-graphics4 {
    display: none;
  }
  .let-us-connect-parent6 {
    display: flex;
  }
  .let-us-connect-parent7 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .lotus-2-1-parent,
  .visual-design-item {
    display: none;
  }
  .lotus-2-1-group {
    display: flex;
  }
  .visual-graphics2,
  .visual-graphics3 {
    display: none;
  }
  .visual-graphics4 {
    display: flex;
  }
  .group-parent11,
  .group-parent12,
  .let-us-connect-parent6 {
    display: none;
  }
  .let-us-connect-parent7 {
    display: flex;
  }
}
